<nav>
    <a href="/">Home</a>
    <div class="fileControls">
        <% if (locals.user) { %>
            <a href="/upload">Upload a file</a>
            <a href="/files">View my files</a>
        <% } %>
    </div>
    <div class="userControls">
        <% if (!locals.user) { %>
            <a href="/login">Log in</a>
            <a href="/signup">Sign up</a>
        <% } else { %>
            <a href="/logout">Log out</a>
        <% } %>
    </div>
</nav>