<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title><%- title %></title>
</head>

<body>
    <%- include("partials/navbar") %>
    <form action="/signup" method="POST">
        <div class="signupFormItem">
            <label for="username">Username: </label>
            <input id="username" name="username" type="text" required>
        </div>
        <div class="signupFormItem">
            <label for="password">Password: </label>
            <input id="password" name="password" type="password" required>
        </div>
        <div class="signupFormItem">
            <label for="passwordConfirmation">Confirm password: </label>
            <input id="passwordConfirmation" name="passwordConfirmation" type="password" required>
        </div>
        <button>Submit</button>
    </form>
</body>

</html>